body {
    background-color: rgb(236, 221, 175);
    margin: 80px;
}

.nome{
    padding: 40px;
}

.divdosespacos{
  background-color: rgb(192, 154, 107); 
  margin-bottom: 50px; 
  margin-top: 20px; padding: 
  20px;
}

.divmaior {
    display: flex;
    background-color: rgb(226, 185, 123);
    margin: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.divmenor{
    text-decoration: underline;
    margin-bottom: 20px;
}
